In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

!pip install cpi
import cpi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cpi
  Downloading cpi-1.0.18-py2.py3-none-any.whl (30.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.3/30.3 MB 44.6 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from cpi) (2.27.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from cpi) (8.1.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from cpi) (2.8.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from cpi) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->cpi) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->cpi) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil->cpi) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->cpi) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->cpi) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->cpi) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->cpi) (3.4)
Installing collected packages: cpi
Successfully installed cpi-1.0.18

/usr/local/lib/python3.10/dist-packages/cpi/__init__.py:42: StaleDataWarning: CPI data is out of date. To accurately inflate to today's dollars, you must run `cpi.update()`.
  warnings.warn(StaleDataWarning())
WARNING:cpi:CPI data is out of date. To accurately inflate to today's dollars, you must run `cpi.update()`.

In [2]:
# Set up S3 import
!pip install boto3
import boto3

BUCKET_NAME = 'ecommerce-machine-learning-resources-5.29.23'

from config import aws_access_key_id, aws_secret_access_key, region

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.26.145-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 3.1 MB/s eta 0:00:00
Collecting botocore<1.30.0,>=1.29.145 (from boto3)
  Downloading botocore-1.29.145-py3-none-any.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 45.5 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0 (from boto3)
  Downloading s3transfer-0.6.1-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 9.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.30.0,>=1.29.145->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.30.0,>=1.29.145->boto3) (1.26.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.145->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.145 botocore-1.29.145 jmespath-1.0.1 s3transfer-0.6.1

In [3]:
# Authentication credentials for S3
s3 = boto3.resource('s3',aws_access_key_id = aws_access_key_id, aws_secret_access_key = aws_secret_access_key)

# File Names
KEY1 = 'census.csv'
KEY2 = 'ecommerce.csv'

In [4]:
# Import files
s3.Bucket(BUCKET_NAME).download_file(KEY1,'census.csv')
s3.Bucket(BUCKET_NAME).download_file(KEY2,'ecommerce.csv')

In [5]:
# Read csv files into pandas dataframes
ecommerce_df = pd.read_csv("ecommerce.csv")
census_df = pd.read_csv("census.csv")

In [6]:
# Preview dataset
ecommerce_df

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,151
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,225
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,179
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169

In [7]:
# Remove extraneous columns
ecommerce_df.drop(columns=["CityTier","WarehouseToHome"],inplace=True)
ecommerce_df

,CustomerID,Churn,Tenure,PreferredLoginDevice,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
1,50002,1,NaN,Phone,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
2,50003,1,NaN,Phone,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
3,50004,1,0.0,Phone,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
4,50005,1,0.0,Phone,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,151
5626,55627,0,13.0,Mobile Phone,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,225
5627,55628,0,1.0,Mobile Phone,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186
5628,55629,0,23.0,Computer,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,179
5629,55630,0,8.0,Mobile Phone,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169

In [8]:
# Preview dataset
census_df.drop(columns="state_fips_code",inplace=True)

# Dataset Intentions
The ecommerce dataset does not contain demographic information, such as family income, personal income, age, and race. The intention is to update the randomized 2000 Census information to 2023 inflation and then randomly assign the individuals in the Census dataset to the customers in the ecommerce dataset while maintaining gender and marital status.

In [9]:
# Fix typos and rename columns
ecommerce_df = ecommerce_df.rename(columns={
                                  "HourSpendOnApp":"AppHours",
                                  "NumberOfDeviceRegistered":"RegisteredDevices",
                                  "PreferedOrderCat":"PreferredCategory",
                                  "NumberOfAddress":"NumberAddresses",
                                  "Complain":"Complaint",
                                  "OrderAmountHikeFromlastYear":"OrderIncreasePercent",
                                  "CouponUsed":"CouponsUsed",
                                  "DaySinceLastOrder":"DaysSinceOrder",
                                  "CashbackAmount":"AverageCashback"
})
ecommerce_df

,CustomerID,Churn,Tenure,PreferredLoginDevice,PreferredPaymentMode,Gender,AppHours,RegisteredDevices,PreferredCategory,SatisfactionScore,MaritalStatus,NumberAddresses,Complaint,OrderIncreasePercent,CouponsUsed,OrderCount,DaysSinceOrder,AverageCashback
0,50001,1,4.0,Mobile Phone,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
1,50002,1,NaN,Phone,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
2,50003,1,NaN,Phone,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
3,50004,1,0.0,Phone,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
4,50005,1,0.0,Phone,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,151
5626,55627,0,13.0,Mobile Phone,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,225
5627,55628,0,1.0,Mobile Phone,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186
5628,55629,0,23.0,Computer,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,179
5629,55630,0,8.0,Mobile Phone,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169

# **Column Dictionary**

**CustomerID**: Unique ID

**Churn**: Boolean whether churn occurred

**Tenure**: Years with company

**PreferredLoginDevice**: Most used login device

**PreferredPaymentMode**: Most used payment method

**Gender**: Gender

**AppHours**: Number of hours spent with site

**RegisteredDevices**: Number of registered devices

**PreferredCategory**: Preferred order category in last month

**SatisfactionScore**: Customer's service satisfaction

**MaritalStatus**: Marital Status

**NumberAddresses**: Number of addresses added to account

**Complaint**: Boolean whether complaint lodged in last month against company

**OrderIncreasePercent**: Percentage increase in orders from last year

**CouponsUsed**: Number of coupons used in last month

**OrderCount**: Number of orders placed in last month

**DaysSinceOrder**: Number of days since last order was placed

**AverageCashback**: Average cashback received in last month

In [10]:
# Find unique values of Marital Status to make sure both dataframes match
print(ecommerce_df['MaritalStatus'].unique())
print(census_df['marital_status'].unique())

['Single' 'Divorced' 'Married']
['Married/spouse present' 'Never married/single' 'Widowed' 'Divorced'
 'Separated' 'Married/spouse absent']

The census data will be simplified so the following are reflected:


**Single**: never married / single , widowed

**Divorced**: divorced , separated

**Married**: married / spouse present , married / spouse absent

In [11]:
# Replace all married instances
census_df['marital_status'].replace('Married/spouse present','Married',inplace=True)
census_df['marital_status'].replace('Married/spouse absent','Married',inplace=True)
# Replace all single instances
census_df['marital_status'].replace('Never married/single','Single',inplace=True)
census_df['marital_status'].replace('Widowed','Single',inplace=True)
# Replace all divorced instances
census_df['marital_status'].replace('Separated','Divorced',inplace=True)
# Confirm all instances replaced
print(census_df['marital_status'].unique())

['Married' 'Single' 'Divorced']

In [12]:
# Find unique values of Gender to make sure both dataframes match
print(ecommerce_df['Gender'].unique())
print(census_df['sex'].unique())

['Female' 'Male']
['Male' 'Female']

In [13]:
# Inflate Census Income Amounts
for i in census_df.index:
  census_df.at[i,'2023_family_income'] = round(cpi.inflate((census_df.at[i,"total_family_income"]),(census_df.at[i,"census_year"])),2)
  census_df.at[i,'2023_personal_income'] = round(cpi.inflate((census_df.at[i,"total_personal_income"]),(census_df.at[i,"census_year"])),2)
census_df

,census_year,total_family_income,age,sex,race_general,marital_status,total_personal_income,2023_family_income,2023_personal_income
0,2000,14550.0,44,Male,Two major races,Married,0.0,24727.82,0.00
1,2000,22800.0,20,Female,White,Single,13000.0,38748.75,22093.58
2,2000,0.0,20,Male,Black,Single,20000.0,0.00,33990.13
3,2000,23000.0,6,Female,White,Single,NaN,39088.65,NaN
4,2000,48000.0,55,Male,White,Married,36000.0,81576.31,61182.23
...,...,...,...,...,...,...,...,...,...
495,2000,8500.0,68,Female,White,Divorced,8500.0,14445.80,14445.80
496,2000,55400.0,12,Male,White,Single,NaN,94152.65,NaN
497,2000,15000.0,60,Male,Black,Single,15000.0,25492.60,25492.60
498,2000,NaN,60,Male,Black,Married,48600.0,NaN,82596.01
499,2000,39370.0,47,Male,White,Married,19800.0,66909.57,33650.23

In [14]:
# Drop year and old values
census_df.drop(columns=['census_year','total_family_income','total_personal_income'],inplace=True)
census_df

,age,sex,race_general,marital_status,2023_family_income,2023_personal_income
0,44,Male,Two major races,Married,24727.82,0.00
1,20,Female,White,Single,38748.75,22093.58
2,20,Male,Black,Single,0.00,33990.13
3,6,Female,White,Single,39088.65,NaN
4,55,Male,White,Married,81576.31,61182.23
...,...,...,...,...,...,...
495,68,Female,White,Divorced,14445.80,14445.80
496,12,Male,White,Single,94152.65,NaN
497,60,Male,Black,Single,25492.60,25492.60
498,60,Male,Black,Married,NaN,82596.01
499,47,Male,White,Married,66909.57,33650.23

In [15]:
# Since customers must be 18+, remove all rows where individuals are under 18
census_df = census_df.loc[census_df["age"]>=18]
census_df

,age,sex,race_general,marital_status,2023_family_income,2023_personal_income
0,44,Male,Two major races,Married,24727.82,0.00
1,20,Female,White,Single,38748.75,22093.58
2,20,Male,Black,Single,0.00,33990.13
4,55,Male,White,Married,81576.31,61182.23
5,43,Female,White,Married,125763.47,45886.67
...,...,...,...,...,...,...
493,36,Male,White,Married,30591.11,30591.11
495,68,Female,White,Divorced,14445.80,14445.80
497,60,Male,Black,Single,25492.60,25492.60
498,60,Male,Black,Married,NaN,82596.01
499,47,Male,White,Married,66909.57,33650.23

In [16]:
# Some of the rows have no family income but do have personal income. This doesn't make sense, dropping these rows
census_df = census_df.loc[census_df["2023_personal_income"]<=census_df["2023_family_income"]]
census_df

,age,sex,race_general,marital_status,2023_family_income,2023_personal_income
0,44,Male,Two major races,Married,24727.82,0.00
1,20,Female,White,Single,38748.75,22093.58
4,55,Male,White,Married,81576.31,61182.23
5,43,Female,White,Married,125763.47,45886.67
6,60,Female,White,Married,39088.65,20054.18
...,...,...,...,...,...,...
492,24,Male,White,Single,203600.87,37389.14
493,36,Male,White,Married,30591.11,30591.11
495,68,Female,White,Divorced,14445.80,14445.80
497,60,Male,Black,Single,25492.60,25492.60
499,47,Male,White,Married,66909.57,33650.23

In [17]:
#Find the average income of our customer base - this information will be used to inform our city selection. Calculating as average on the basis
#that Per Capita Personal Income as report by the Bureau of Economic Analysis is done as mean. 
pcp_income = census_df['2023_personal_income'].mean()
print("Average Income:", pcp_income)

#--this result lines up most closely with the PCPI of Detroit, MI. We will be presenting this dataset as coming from our company's Detriot 
#business. (https://www.census.gov/quickfacts/fact/table/detroitcitymichigan,MI/PST045222) - US Census showing population of Detroit as 620,376.

Average Income: 54113.11813609469

In [18]:
#Per Census.gov 'persons under 18' account for 24.9% of the population, but we only want to look at potential market- the adults
adult_population= 620376 * .751
print(adult_population)

465902.376

In [19]:
# Create combined columns for merging
census_df['merge'] = census_df[['sex','marital_status']].apply('-'.join,axis=1)
ecommerce_df['merge'] = ecommerce_df[['Gender','MaritalStatus']].apply('-'.join,axis=1)

<ipython-input-19-166dd418b351>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_df['merge'] = census_df[['sex','marital_status']].apply('-'.join,axis=1)

In [20]:
# Get unique values for census and ecommerce data
print(census_df['merge'].unique())
print(ecommerce_df['merge'].unique())
print(census_df['merge'].value_counts())

['Male-Married' 'Female-Single' 'Female-Married' 'Female-Divorced'
 'Male-Single' 'Male-Divorced']
['Female-Single' 'Male-Single' 'Male-Divorced' 'Female-Divorced'
 'Male-Married' 'Female-Married']
Male-Married       103
Female-Married      96
Female-Single       54
Male-Single         49
Female-Divorced     21
Male-Divorced       15
Name: merge, dtype: int64

In [21]:
# Partition census data out into unique merge column values
male_married_df = census_df.loc[census_df['merge']=='Male-Married',:]
male_single_df = census_df.loc[census_df['merge']=='Male-Single',:]
male_divorced_df = census_df.loc[census_df['merge']=='Male-Divorced',:]
female_married_df = census_df.loc[census_df['merge']=='Female-Married',:]
female_single_df = census_df.loc[census_df['merge']=='Female-Single',:]
female_divorced_df = census_df.loc[census_df['merge']=='Female-Divorced',:]

# Reset all indices
male_married_df.reset_index(inplace=True)
male_single_df.reset_index(inplace=True)
male_divorced_df.reset_index(inplace=True)
female_married_df.reset_index(inplace=True)
female_single_df.reset_index(inplace=True)
female_divorced_df.reset_index(inplace=True)

# Rename index columns
male_married_df.rename(columns={"index":"uniqueID"},inplace=True)
male_single_df.rename(columns={"index":"uniqueID"},inplace=True)
male_divorced_df.rename(columns={"index":"uniqueID"},inplace=True)
female_married_df.rename(columns={"index":"uniqueID"},inplace=True)
female_single_df.rename(columns={"index":"uniqueID"},inplace=True)
female_divorced_df.rename(columns={"index":"uniqueID"},inplace=True)

<ipython-input-21-97528e1e968e>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_married_df.rename(columns={"index":"uniqueID"},inplace=True)
<ipython-input-21-97528e1e968e>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_single_df.rename(columns={"index":"uniqueID"},inplace=True)
<ipython-input-21-97528e1e968e>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_divorced_df.rename(columns={"index":"uniqueID"},inplace=True)
<ipython-input-21-97528e1e968e>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_married_df.rename(columns={"index":"uniqueID"},inplace=True)
<ipython-input-21-97528e1e968e>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_single_df.rename(columns={"index":"uniqueID"},inplace=True)
<ipython-input-21-97528e1e968e>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_divorced_df.rename(columns={"index":"uniqueID"},inplace=True)

In [22]:
# Randomly select individuals from the census data based on their marital status and gender
for i in ecommerce_df.index:
  if ecommerce_df.at[i,'merge'] == 'Male-Married':
    choice = np.random.randint(len(male_married_df))
    ecommerce_df.at[i,'uniqueID'] = male_married_df.at[choice,'uniqueID']
  elif ecommerce_df.at[i,'merge'] == 'Male-Single':
    choice = np.random.randint(len(male_single_df))
    ecommerce_df.at[i,'uniqueID'] = male_single_df.at[choice,'uniqueID']

  elif ecommerce_df.at[i,'merge'] == 'Male-Divorced':
    choice = np.random.randint(len(male_divorced_df))
    ecommerce_df.at[i,'uniqueID'] = male_divorced_df.at[choice,'uniqueID']

  elif ecommerce_df.at[i,'merge'] == 'Female-Married':
    choice = np.random.randint(len(female_married_df))
    ecommerce_df.at[i,'uniqueID'] = female_married_df.at[choice,'uniqueID']

  elif ecommerce_df.at[i,'merge'] == 'Female-Single':
    choice = np.random.randint(len(female_single_df))
    ecommerce_df.at[i,'uniqueID'] = female_single_df.at[choice,'uniqueID']

  elif ecommerce_df.at[i,'merge'] == 'Female-Divorced':
    choice = np.random.randint(len(female_divorced_df))
    ecommerce_df.at[i,'uniqueID'] = female_divorced_df.at[choice,'uniqueID']

In [23]:
# Reset index and rename old index column to match other data
census_df.reset_index(inplace=True)
census_df.rename(columns={'index':'uniqueID'})

,uniqueID,age,sex,race_general,marital_status,2023_family_income,2023_personal_income,merge
0,0,44,Male,Two major races,Married,24727.82,0.00,Male-Married
1,1,20,Female,White,Single,38748.75,22093.58,Female-Single
2,4,55,Male,White,Married,81576.31,61182.23,Male-Married
3,5,43,Female,White,Married,125763.47,45886.67,Female-Married
4,6,60,Female,White,Married,39088.65,20054.18,Female-Married
...,...,...,...,...,...,...,...,...
333,492,24,Male,White,Single,203600.87,37389.14,Male-Single
334,493,36,Male,White,Married,30591.11,30591.11,Male-Married
335,495,68,Female,White,Divorced,14445.80,14445.80,Female-Divorced
336,497,60,Male,Black,Single,25492.60,25492.60,Male-Single
337,499,47,Male,White,Married,66909.57,33650.23,Male-Married

In [24]:
# Merge the two datasets together based on the uniqueID from the census data. Remove all duplicative or extraneous columns and rename columns to standardized format
merged_df = pd.merge(ecommerce_df,census_df,left_on='uniqueID',right_on='index',how='left')
merged_df.drop(columns=['index','merge_x','merge_y','uniqueID','sex','marital_status'],inplace=True)
merged_df.rename(columns={'age':'Age',
                          'race_general':'Race',
                          '2023_family_income':'HouseholdIncome',
                          '2023_personal_income':'PersonalIncome'},inplace=True)
merged_df

,CustomerID,Churn,Tenure,PreferredLoginDevice,PreferredPaymentMode,Gender,AppHours,RegisteredDevices,PreferredCategory,SatisfactionScore,...,Complaint,OrderIncreasePercent,CouponsUsed,OrderCount,DaysSinceOrder,AverageCashback,Age,Race,HouseholdIncome,PersonalIncome
0,50001,1,4.0,Mobile Phone,Debit Card,Female,3.0,3,Laptop & Accessory,2,...,1,11.0,1.0,1.0,5.0,160,80,White,53704.40,53704.40
1,50002,1,NaN,Phone,UPI,Male,3.0,4,Mobile,3,...,1,15.0,0.0,1.0,0.0,121,28,Other Asian or Pacific Islander,39088.65,39088.65
2,50003,1,NaN,Phone,Debit Card,Male,2.0,4,Mobile,3,...,1,14.0,0.0,1.0,3.0,120,60,Black,25492.60,25492.60
3,50004,1,0.0,Phone,Debit Card,Male,2.0,4,Laptop & Accessory,5,...,0,23.0,0.0,1.0,3.0,134,20,Other,99863.00,6798.03
4,50005,1,0.0,Phone,CC,Male,NaN,3,Mobile,5,...,0,11.0,1.0,1.0,3.0,130,85,Black,13596.05,13596.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,Credit Card,Male,3.0,2,Laptop & Accessory,1,...,0,18.0,1.0,2.0,4.0,151,36,White,103160.04,101970.38
5626,55627,0,13.0,Mobile Phone,Credit Card,Male,3.0,5,Fashion,5,...,0,16.0,1.0,2.0,NaN,225,54,White,157884.14,73078.77
5627,55628,0,1.0,Mobile Phone,Debit Card,Male,3.0,2,Laptop & Accessory,4,...,1,21.0,1.0,2.0,4.0,186,63,White,95172.36,64581.24
5628,55629,0,23.0,Computer,Credit Card,Male,4.0,5,Laptop & Accessory,4,...,0,15.0,2.0,2.0,9.0,179,73,White,38748.75,23793.09
5629,55630,0,8.0,Mobile Phone,Credit Card,Male,3.0,2,Laptop & Accessory,3,...,0,13.0,2.0,2.0,3.0,169,29,White,37389.14,37389.14

In [25]:
# Look at non-null values in dataset
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5630 entries, 0 to 5629
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            5630 non-null   int64
 1   Churn                 5630 non-null   int64
 2   Tenure                5366 non-null   float64
 3   PreferredLoginDevice  5630 non-null   object
 4   PreferredPaymentMode  5630 non-null   object
 5   Gender                5630 non-null   object
 6   AppHours              5375 non-null   float64
 7   RegisteredDevices     5630 non-null   int64
 8   PreferredCategory     5630 non-null   object
 9   SatisfactionScore     5630 non-null   int64
 10  MaritalStatus         5630 non-null   object
 11  NumberAddresses       5630 non-null   int64
 12  Complaint             5630 non-null   int64
 13  OrderIncreasePercent  5365 non-null   float64
 14  CouponsUsed           5374 non-null   float64
 15  OrderCount            5372 non-null   float64
 16  DaysSinceOrder        5323 non-null   float64
 17  AverageCashback       5630 non-null   int64
 18  Age                   5630 non-null   int64
 19  Race                  5630 non-null   object
 20  HouseholdIncome       5630 non-null   float64
 21  PersonalIncome        5630 non-null   float64
dtypes: float64(8), int64(8), object(6)
memory usage: 1011.6+ KB

In [26]:
# Remove null values and save as new dataframe. Confirm no additional null values exist
cleaned_df = merged_df.dropna(how='any')
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4025 entries, 0 to 5629
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            4025 non-null   int64
 1   Churn                 4025 non-null   int64
 2   Tenure                4025 non-null   float64
 3   PreferredLoginDevice  4025 non-null   object
 4   PreferredPaymentMode  4025 non-null   object
 5   Gender                4025 non-null   object
 6   AppHours              4025 non-null   float64
 7   RegisteredDevices     4025 non-null   int64
 8   PreferredCategory     4025 non-null   object
 9   SatisfactionScore     4025 non-null   int64
 10  MaritalStatus         4025 non-null   object
 11  NumberAddresses       4025 non-null   int64
 12  Complaint             4025 non-null   int64
 13  OrderIncreasePercent  4025 non-null   float64
 14  CouponsUsed           4025 non-null   float64
 15  OrderCount            4025 non-null   float64
 16  DaysSinceOrder        4025 non-null   float64
 17  AverageCashback       4025 non-null   int64
 18  Age                   4025 non-null   int64
 19  Race                  4025 non-null   object
 20  HouseholdIncome       4025 non-null   float64
 21  PersonalIncome        4025 non-null   float64
dtypes: float64(8), int64(8), object(6)
memory usage: 723.2+ KB

In [27]:
# Evaluate the preferred category values
cleaned_df['PreferredCategory'].value_counts()

Laptop & Accessory    1970
Mobile Phone          1227
Fashion                443
Mobile                 361
Others                  18
Grocery                  6
Name: PreferredCategory, dtype: int64

In [28]:
# Drop the 'grocery' categories
cleaned_df = cleaned_df.loc[cleaned_df['PreferredCategory']!='Grocery']
# Confirm it dropped
cleaned_df['PreferredCategory'].value_counts()

Laptop & Accessory    1970
Mobile Phone          1227
Fashion                443
Mobile                 361
Others                  18
Name: PreferredCategory, dtype: int64

In [29]:
# Evaluate Login Devices
cleaned_df['PreferredLoginDevice'].value_counts()

Mobile Phone    1934
Computer        1183
Phone            902
Name: PreferredLoginDevice, dtype: int64

In [30]:
# Converting 'phone' to 'mobile phone' as any phone capable of accessing a website is a mobile phone
cleaned_df.replace({"PreferredLoginDevice":{"Phone":"Mobile Phone"}},inplace=True)
cleaned_df

<ipython-input-30-dc3b231e9445>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df.replace({"PreferredLoginDevice":{"Phone":"Mobile Phone"}},inplace=True)

,CustomerID,Churn,Tenure,PreferredLoginDevice,PreferredPaymentMode,Gender,AppHours,RegisteredDevices,PreferredCategory,SatisfactionScore,...,Complaint,OrderIncreasePercent,CouponsUsed,OrderCount,DaysSinceOrder,AverageCashback,Age,Race,HouseholdIncome,PersonalIncome
0,50001,1,4.0,Mobile Phone,Debit Card,Female,3.0,3,Laptop & Accessory,2,...,1,11.0,1.0,1.0,5.0,160,80,White,53704.40,53704.40
3,50004,1,0.0,Mobile Phone,Debit Card,Male,2.0,4,Laptop & Accessory,5,...,0,23.0,0.0,1.0,3.0,134,20,Other,99863.00,6798.03
5,50006,1,0.0,Computer,Debit Card,Female,3.0,5,Mobile Phone,5,...,1,22.0,4.0,6.0,7.0,139,60,White,50985.19,50985.19
11,50012,1,11.0,Mobile Phone,Debit Card,Male,3.0,4,Fashion,3,...,1,13.0,0.0,1.0,0.0,154,29,Black,53024.60,16995.06
12,50013,1,0.0,Mobile Phone,COD,Male,2.0,3,Mobile,3,...,1,13.0,2.0,2.0,2.0,134,39,White,18184.72,18184.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5624,55625,0,1.0,Mobile Phone,UPI,Female,2.0,5,Mobile Phone,3,...,0,19.0,2.0,2.0,1.0,155,24,White,191194.47,63731.49
5625,55626,0,10.0,Computer,Credit Card,Male,3.0,2,Laptop & Accessory,1,...,0,18.0,1.0,2.0,4.0,151,36,White,103160.04,101970.38
5627,55628,0,1.0,Mobile Phone,Debit Card,Male,3.0,2,Laptop & Accessory,4,...,1,21.0,1.0,2.0,4.0,186,63,White,95172.36,64581.24
5628,55629,0,23.0,Computer,Credit Card,Male,4.0,5,Laptop & Accessory,4,...,0,15.0,2.0,2.0,9.0,179,73,White,38748.75,23793.09
5629,55630,0,8.0,Mobile Phone,Credit Card,Male,3.0,2,Laptop & Accessory,3,...,0,13.0,2.0,2.0,3.0,169,29,White,37389.14,37389.14

In [31]:
# Check Payment Methods
cleaned_df['PreferredPaymentMode'].value_counts()

Debit Card          1645
Credit Card         1120
E wallet             449
COD                  333
UPI                  298
CC                   127
Cash on Delivery      47
Name: PreferredPaymentMode, dtype: int64

In [32]:
# Cash on Delivery is COD, Credit Card is CC, UPI is Unified Payment Interface
cleaned_df.replace({"PreferredPaymentMode":{"CC":"Credit Card"}},inplace=True)
cleaned_df.replace({"PreferredPaymentMode":{"COD":"Cash on Delivery"}},inplace=True)
cleaned_df.replace({"PreferredPaymentMode":{"UPI":"Unified Payment Interface"}},inplace=True)
cleaned_df['PreferredPaymentMode'].value_counts()

Debit Card                   1645
Credit Card                  1247
E wallet                      449
Cash on Delivery              380
Unified Payment Interface     298
Name: PreferredPaymentMode, dtype: int64

In [33]:
# Write cleaned DF to new CSV file
cleaned_df.to_csv('cleaned_data.csv')

In [34]:
# Upload CSV file to S3
s3 = boto3.client('s3',aws_access_key_id = aws_access_key_id, aws_secret_access_key = aws_secret_access_key)
s3.upload_file("cleaned_data.csv",BUCKET_NAME,"cleaned_data.csv")